body {
  background-color: darkblue;
}
h1 {
  font-size: 2em;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
button {
  padding: 16px;
  cursor: pointer;
  margin-top: 20px;
}
input {
  display: block;
  margin: 18px auto 0;
  max-width: 100px;
  text-align: center;
}
.resultado {
  padding: 16px;
  margin-top: 120px;
}
.resultado span {
  font: 2em;
  display: block;
}
